# Bước 0:

In [5]:
import pandas as pd
url = "https://raw.githubusercontent.com/huongd17at089/income_prediction/master/data_adult.csv"
df = pd.read_csv(url)

In [6]:
df.sample(5)

       Unnamed: 0      X  age workclass  ...   race  gender hours.per.week income
44910       44911  44911   28   Private  ...  Black  Female             45  <=50K
43968       43969  43969   62   Private  ...  White    Male             40   >50K
27501       27502  27502   35   Private  ...  White    Male             55   >50K
16902       16903  16903   51   Private  ...  Black    Male             40   >50K
32857       32858  32858   23   Private  ...  White  Female             50  <=50K

[5 rows x 11 columns]