<a href="https://colab.research.google.com/github/huongd17at089/income_prediction/blob/master/thuctap_vnpt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/huongd17at089/income_prediction/master/data_adult.csv')

In [3]:
data

       Unnamed: 0      X  age  ...  gender hours.per.week  income
0               1      1   25  ...    Male             40   <=50K
1               2      2   38  ...    Male             50   <=50K
2               3      3   28  ...    Male             40    >50K
3               4      4   44  ...    Male             40    >50K
4               5      5   34  ...    Male             30   <=50K
...           ...    ...  ...  ...     ...            ...     ...
46028       46029  46029   27  ...  Female             38   <=50K
46029       46030  46030   40  ...    Male             40    >50K
46030       46031  46031   58  ...  Female             40   <=50K
46031       46032  46032   22  ...    Male             20   <=50K
46032       46033  46033   52  ...  Female             40    >50K

[46033 rows x 11 columns]

In [5]:
# chọn những cột có ích
sub = data[['age', 'workclass', 'education', 'educational.num', 'marital.status', 'race', 'gender', 'hours.per.week', 'income']]

In [6]:
# xóa hàng lặp lại
sub = sub.drop_duplicates()

In [12]:
sub["id"] = sub.index

In [13]:
sub

       age     workclass     education  ...  hours.per.week income     id
0       25       Private          11th  ...              40  <=50K      0
1       38       Private       HS-grad  ...              50  <=50K      1
2       28     Local-gov    Assoc-acdm  ...              40   >50K      2
3       44       Private  Some-college  ...              40   >50K      3
4       34       Private          10th  ...              30  <=50K      4
...    ...           ...           ...  ...             ...    ...    ...
46024   43       Private     Assoc-voc  ...              45  <=50K  46024
46025   32       Private       Masters  ...              11  <=50K  46025
46028   27       Private    Assoc-acdm  ...              38  <=50K  46028
46030   58       Private       HS-grad  ...              40  <=50K  46030
46032   52  Self-emp-inc       HS-grad  ...              40   >50K  46032

[26924 rows x 10 columns]

In [14]:
def binning(col, freq):
  cut = pd.qcut(col, q=freq, precision=0)

  # rename bins
  renamed_cut = cut.astype(str).str.strip('()[]').str.replace(', ', ' - ')
  return renamed_cut

In [15]:
# rời rạc hóa biến liên tục age
age_bins = binning(sub['age'], 8)
sub['age'] = age_bins

In [16]:
# rời rạc hóa biến liên tục hours.per.week
hpw_bins = binning(sub['hours.per.week'], 4)
sub['hours.per.week'] = hpw_bins

In [17]:
# xuất ra file csv
sub.to_csv('/content/data/processed_data.csv')